<form ng-submit="save()">
  <section layout="row" layout-sm="column" layout-align="center center">
    <md-input-container>
      <label>Nome</label>
      <input type="text" ng-model="employee.name" required>
    </md-input-container>
  </section>
  <section layout="row" layout-sm="column" layout-align="center">
    <md-input-container style="width:205px;">
      <md-select name="select" placeholder="Cargo" ng-model="employee.position" required>
        <md-option ng-value="position" ng-repeat="position in positions">{{position.name}}</md-option>
      </md-select>
      <div class="errors" ng-messages="form.select.$error" ng-if="select.$dirty">
        <div ng-message="required">Selecione um cargo</div>
      </div>
    </md-input-container>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center">
    <md-input-container>
      <label>Email</label>
      <input type="email" ng-model="employee.email" required>
    </md-input-container>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center">
    <md-input-container>
      <label>Senha</label>
      <input type="password" autocomplete="off" ng-model="employee.password" required>
    </md-input-container>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center">
    <md-button class="md-raised md-primary" type="submit" 
    ng-disabled="!employee.name||!employee.position.id||!employee.email||!employee.password">Salvar</md-button>
  </section>
</form>