<!DOCTYPE html>
<html ng-app="autenticacao">

<head lang="en">
  <meta charset="UTF-8">
  <title>Funcionário</title>
  <!-- Angulars Material CSS now available via Google CDN; version 0.7 used here -->
  <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.css">
</head>
<body ng-controller="AutenticacaoCtrl">

<div layout="column" layout-fill>
  <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
          <span>Sistema</span>

          <span flex></span>
      </div>
  </md-toolbar>
  <div style="padding-top:70px">
    <form ng-submit="autenticar()">
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-input-container>
          <label>Login</label>
          <input type="text" ng-model="user.email" required>
        </md-input-container>
      </section>
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-input-container>
          <label>Senha</label>
          <input type="password" ng-model="user.password" required>
        </md-input-container>
      </section>
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-button type="submit" class="md-raised md-primary" >Entrar</md-button>
      </section>
    </form>
  </div>
</div>
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Angular Material Dependencies -->
  <script src="../../bower_components/angular/angular.js"></script>
  <script src="../../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../../bower_components/angular-aria/angular-aria.js"></script>
  <script src="../../bower_components/angular-material/angular-material.js"></script>
  <script src="../../bower_components/angular-cookies/angular-cookies.js"></script>

  <script src="../../scripts/controllers/autenticacao.js"></script>


</body>
</html>